<div class="round-form form-inline">
  <%= f.input :kata_id %>
  <%= f.input :notes %>
  <p>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to "Delete Round", "#",
      class: "remove_record btn btn-outline-danger" %>
  </p>
</div>
