<h2><%= @game.title %></h2>

<%= link_to "< BACK", :root, class: "btn btn-outline-primary" %>

<% if current_user&.admin %> <!-- USER is an ADMIN -->

  <%= render "admin_show", game: @game %>

<% else %> <!-- USER is a GUEST -->

  <%= render "guest_show", game: @game %>

<% end %>
